footer {
    height: 170px;
    background-color: #464547;
    color: white;
}

footer img {
    width: 20px;
    height: 20px;
    margin-top: 19px;
    margin-left: 145px;
    margin-right: 16px;
}

footer span {
    font-family: Source Sans Pro, serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 21px;
}

footer address {
    margin-top: 14px;
    margin-left: 140px;
    font-family: Source Sans Pro, serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255);
}

button {
    cursor: pointer;
}