@font-face {
    font-family: "Oswald";
    src: url("/css-flex-grid-hometask/css-basic-hometask/css/fonts/Oswald/static/Oswald-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/css-flex-grid-hometask/css-basic-hometask/css/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format('truetype');
}

.wrapper {
    background-image: url("/css-flex-grid-hometask/css-basic-hometask/assets/Desktop_Backgrounds_1920x1200.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation_bar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 49px;
    /*border: 1px solid white;*/
}

.logo {
    font-family: Source Sans Pro, serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 150px;
    /*border: 1px solid white;*/
}

.submenu a:hover {
    border-bottom: 1px solid white;
}

.submenu {
    display: flex;
}

.submenu li {
    margin-right: 16px;
    margin-left: 16px;
    font-family: Source Sans Pro, serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    padding-bottom: 15px;
    /*border: 1px solid white;*/
}

.hero {
    width: 100%;
    /*height: 800px;*/
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    /*border: 2px solid black;*/
}

.hero img {
    margin-top: 274px;
    width: 63px;
    height: 63px;
    /*border: 2px solid white;*/
}

.hero h1 {
    font-family: Oswald, serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
    /*border: 2px solid white;*/
}

.hero p {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    text-align: center;
    opacity: 70%;
    margin-bottom: 240px;
}