.learn_more {
    background-image: url("/css-flex-grid-hometask/css-basic-hometask/assets/IMG_1334_72dpi_RGB_ 1.png");
    height: 666px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.learn_more h3 {
    font-family: Oswald, serif;
    font-size: 48px;
    text-align: center;
    margin-top: 84px;
    margin-bottom: 53px;
    font-style: normal;
    letter-spacing: 0.01em;
    line-height: 64px;
    font-weight: 700;
}

.learn_more button {
    width: 150px;
    height: 150px;
    background-color: #39C2D7;
    border-radius: 50%;
    border: none;
    margin-bottom: 70px;
}

.learn_more button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.learn_more p {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    text-align: center;
}