.main {
    height: 700px;
    text-align: center;
    background-color: #EEEEEE;
    padding-top: 87px;
}

.main h2 {
    font-family: Oswald, serif;
    font-size: 48px;
    font-weight: bold;
    color: #464547;
    margin-top: 0;
    margin-bottom: 40px;
}

.main p {
    font-family: Source Sans Pro, serif;
    font-size: 16px;
    margin-left: 97px;
    margin-right: 120px;
    margin-bottom: 21px;
}

.main .subtitle {
    font-family: Source Sans Pro, serif;
    font-size: 24px;
    color: #666666;
    line-height: 32px;
    margin-bottom: 48px;
}

.main button {
    border-radius: 18px;
    width: 115px;
    height: 36px;
    background-color: #55C2D8;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: Oswald, serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    margin-top: 21px;
}